@charset “utf-8”;

@font-face {
    font-family: 'font_title';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/pvct.woff') format("woff"),
         url('fonts/pvct.otf') format("otf");
}

@font-face {
    font-family: 'font_title_i';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/pvct_i.woff') format("woff"),
         url('fonts/pvct_i.otf') format("otf");
}

@font-face {
    font-family: 'font_body';
    font-style: normal;
    font-weight: 400; 
    src: url('fonts/si_book.woff2') format("woff2"), 
         url('fonts/si_book.woff') format("woff");
}

@font-face {
    font-family: 'font_body';
    font-style: normal;
    font-weight: 200; 
    src: url('fonts/si_r.woff2') format("woff2"), 
         url('fonts/si_r.woff') format("woff");
}

html {
	font-size: 16px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing: border-box;
}

ul, ol {
	list-style: none;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: #000;
}

h1, h2, h3, h4, h5, h6, b, strong {
	font-size: inherit;
	font-weight: inherit;
}

body {
	font-family: "font_body", "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.25;
/* 	background-image: linear-gradient(180deg, #9db5ff, #ffffff);*/
/* 	background-attachment: fixed;*/
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

.d_n {
	display: none;
}

.clear::after {
	content: '';
	display: block;
	clear: both;
}

.cursor {
  	position: absolute;
  	padding: 0.4rem 1.5rem 0.5rem 0.8rem;
  	border: 1px solid #000;
  	background: #fff;
    z-index: 3000;
}

.bor {
	border: 1px solid #000;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

::selection {
  color: #fff;
  background: #000;
}

.main_container {
	position: relative;
	width: 100vw;
  height: 100vh;
	text-align: center;
	z-index: 100;
}

/* ---------- index ---------- */

body { 
  background: #000;
}

.index_img {
  position: absolute;
  top: 43%;
  left: 50%;
  width: 38rem;
  transform: translate(-50%, -50%);
}

.index_img > img {
  width: 100%;
  height: auto;
}

header h2 {
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 100%;
  text-transform: uppercase;
}

.index_contents {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  width: 35vw;
  margin-left: -15rem;
  line-height: 1.5;
}

.index_txt {
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
}

.index_btn > a {
  position: absolute;
  top: 50%;
  margin-top: -5rem;
  font-size: 1.8rem;
  font-weight: 200;
  color: #555;
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  border-radius: 10rem;
}

.index_btn > a:hover {
  color: #fff;
  border: 1px solid #222;
}

.index_btn.left > a {
  left: 2rem;
}

.index_btn.right > a {
  right: 2rem;
}

.index_line {
  position: absolute;
  top: 50%;
  width: 20vw;
  height: 1px;
  background: #222;
}

.index_line.left {
  left: 10rem;
}

.index_line.right {
  right: 10rem;
}
    
/* ---------- media query ---------- */

@media screen and (max-width:428px) and (orientation:portrait) {
	html {font-size:9px}
}

@media only screen and (min-width: 429px) and (max-width: 700px) {
  html {font-size:6px}
}

@media only screen and (min-width: 701px) and (max-width: 800px) {
  html {font-size:7px}
} 

@media only screen and (min-width: 801px) and (max-width: 900px) {
  html {font-size:8px}
} 

@media only screen and (min-width: 901px) and (max-width: 1000px) {
  html {font-size:9px}
} 

@media only screen and (min-width: 1001px) and (max-width: 1100px) {
  html {font-size:10px}
} 

@media only screen and (min-width: 1101px) and (max-width: 1200px) {
  html {font-size:11px}
} 

@media only screen and (min-width: 1201px) and (max-width: 1300px) {
  html {font-size:12px}
} 

@media only screen and (min-width: 1301px) and (max-width: 1400px) {
  html {font-size:13px}
} 

@media only screen and (min-width: 1401px) and (max-width: 1500px) {
  html {font-size:14px}
} 

@media only screen and (min-width: 1501px) and (max-width: 1600px) {
  html {font-size:14.5px}
} 

@media only screen and (min-width: 1601px) and (max-width: 1700px) {
  html {font-size:15px}
} 

@media only screen and (min-width: 1730px) {
  html {font-size:18px}

}



